<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/pi_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pi_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrigoreAdrianMaths"
        tools:targetApi="31">
        <activity
            android:name=".viewModels.InfoMessageViewModel"
            android:exported="false" />
        <activity
            android:name=".viewModels.Levels_finished"
            android:exported="false" />
        <activity
            android:name=".viewModels.GameOverViewModel"
            android:exported="false" />
        <activity
            android:name=".viewModels.RankingViewModel"
            android:exported="false" />
        <activity
            android:name=".levels.Level7"
            android:exported="false" />
        <activity
            android:name=".levels.Level8"
            android:exported="false" />
        <activity
            android:name=".levels.Level6"
            android:exported="false" />
        <activity
            android:name=".levels.Level5"
            android:exported="false" />
        <activity
            android:name=".levels.Level4"
            android:exported="false" />
        <activity
            android:name=".levels.Level3"
            android:exported="false" />
        <activity
            android:name=".levels.Level2"
            android:exported="false" />
        <activity
            android:name=".levels.Level1"
            android:exported="false" />
        <activity
            android:name=".viewModels.LevelSelectorViewModel"
            android:exported="false" />
        <activity
            android:name=".viewModels.LoginViewModel"
            android:exported="false" />
        <activity
            android:name=".viewModels.RegisterViewModel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>